<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AAAAReadMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Appliances.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AppliancesX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AtIndex.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BlockAnonymous.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BlockCapture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BlockImplement.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BlockImplementBlock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BlockImplementBlockForwarding.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BlockImplementBlockPre.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>BlockImplementStatic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BlockNotifications.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BlockReturnValue.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>BlockSelf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>BlockTypedef.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CString.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>CallBacks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Categories.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>ClassDefine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ClassExtensions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ClassProperties.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>CopyMutableCopy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>FileOperations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>HelperObjects.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>IMP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Inheritance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>KVC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>KVO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>KVODependentProperties.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>KVOExplicitlyNotification.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>KVORuntime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>MemoryLeaks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>NSRunLoop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>NS_ENUM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Notifications.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>ObjectOwnership.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>ObjectiveC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Properties.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>PropertyList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Protocols.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>RGB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>RGBS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>RGBX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Runtime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>TargetAction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>VoweIMovement.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>WeakReferences.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>WeakReferencesZeroing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C15E846234F545000FF3E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2B07752377B39F00620CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2B07832377B71D00620CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3386B0234F27B900CC0EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C33896B234DFDF100D54AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C338976234E02D900D54AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C338981234E03B600D54AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3590572342052100673F4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3590622342074400673F4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C35906E2342099F00673F4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3903FB243ED0D600E72376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3DD6A4234ECAB3005F907B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3DD6AF234ED3F3005F907B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80AD66233F9E4D0053C1AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80AD71233FA7110053C1AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80AD7C233FAACD0053C1AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80AD87233FB2F30053C1AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80AD92233FB4BC0053C1AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C80ADA6233FC0860053C1AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C84B089231CB785001ECA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922BE231BDB3100641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922CC231BE24000641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922DD231BE68800641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922EE231BF13A00641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922F9231BF74E00641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8C9A2023209FAE00C15AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8FF88A233DFB4F00669902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC74231D1A0000484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC7F231D1BB600484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC8A231D283A00484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC98231D317400484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FCA6231D507900484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C917BE12318BA6F0043D49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C917BEC2318BA840043D49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA4E932231CA3DB007B90C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA4E946231CADB7007B90C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA57F81231FD4C90037385D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA57F8F231FE0990037385D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB0BB1A23189C0200FDEE5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF442340A737004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF502340AA5E004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF5B2340AC58004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF692340B939004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF772340D814004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF822340DFFC004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF8D2340E039004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB1AF9E2340E1AA004DD698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB3E7132377BAF500F1DB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC1B330234189DF00B2C18F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
