<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AAAAReadMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AllocInit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Appliances.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BlockSelf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CallBacks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ClassDefine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ClassExtensions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FileOperations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>HelperObjects.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Inheritance.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>IsAPointer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>KVC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MemoryLeaks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>NS_ENUM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>ObjectOwnership.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ObjectiveC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Properties.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>VoweIMovement.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>WeakReferences.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>WeakReferencesZeroing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C8922BE231BDB3100641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922DD231BE68800641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922EE231BF13A00641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8922F9231BF74E00641B84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8C9A2023209FAE00C15AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC74231D1A0000484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC7F231D1BB600484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC8A231D283A00484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FC98231D317400484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90FCA6231D507900484A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C917BE12318BA6F0043D49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C917BEC2318BA840043D49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA4E932231CA3DB007B90C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA4E946231CADB7007B90C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA57F81231FD4C90037385D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA57F8F231FE0990037385D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
